.container_search
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
#img_search
{
    width: 30px;
    height: auto;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
#inpt_search
{
    flex-wrap: nowrap;
    width: 700px;
    height: 30px;
    font-size: 20px;
}